	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 pt-0" style="margin-bottom: 70px;">
				<div class="js-tilt text-center" style='vertical-align:middle; text-align:center !important; margin: auto;' data-tilt>
					<img [src]="imagePath" class="img-thumbnail text-center pt-0 pb-0" style="border: 0ch; max-width: 90%; max-height: 300px;">
				</div>

				<form class="login100-form validate-form" style="margin: auto;">
					<span class="login100-form-title p-1">
						Acceso a su estudio con código
					</span>

					<div class="wrap-input100 validate-input" data-validate = "N° de Estudio">
						<input class="input100" type="number" [(ngModel)]="nroestudio" name="estudio" placeholder="N° de Estudio">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-file" aria-hidden="true"></i>
						</span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Código">
						<input class="input100"  [(ngModel)]="codigo" (ngModelChange)="codigo = $event.toUpperCase()" name="codigo" placeholder="Código">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
					</div>
					<div>

					</div>
					<div class="container-login100-form-btn p-1" [hidden]="cargandoCaptcha || cargandoInstitucion || errorInstitucion">
						<button class="login100-form-btn" (click)="ingresar();" [hidden]="!captcha">
							INGRESAR
						</button>
					</div>
					<div class="container-login100-form-btn p-1" [hidden]="!cargandoCaptcha && !cargandoInstitucion">
						<div class="alert alert-warning">Aguarde mientras la aplicación de termina de cargar...</div>
					</div>
					<div class="container-login100-form-btn p-1" [hidden]="!errorInstitucion">
						<div class="alert alert-danger">La institución ingresada no existe!</div>
					</div>
					
					<div class="text-center p-t-12">
						<div class="text-center alert alert-info p-1" [hidden]="errorInstitucion">Ingrese con el n° de estudio y código que le brindó la institución.</div>
						<p class="mb-1 mt-2 text-center"><img class="m-1" src="assets/brand/biobox.jpg" alt="" height="24">© 2008-{{ hoy | date:'y'}}</p>
					</div>

				</form>
			</div>
		</div>
	</div>
	

