<style>

</style>
<div bsModal data-backdrop="false"   [config]="{backdrop: false}" data-dismiss="modal" #childModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg" id='bsmodal' z-index='1050' >
	  <div class="modal-content">
		<div class="modal-header">
		  <h4 class="modal-title pull-left">{{title}}</h4>
		  <button type="button" class="close pull-right" aria-label="Close" (click)="hide()">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body">
			<div style="margin:  20px; margin-bottom: 0px; padding: 20px 0px;">
			<h1>Términos y condiciones</h1>
			<div style="height: 300px; overflow-y: auto; border: 1px solid black;">
			<p style="font-weight: 400;"><strong><em>LEA ESTO CON DETENIMIENTO. ESTE DOCUMENTO INDICA C&Oacute;MO&nbsp;BIOBOX&nbsp;UTILIZAR&Aacute; Y PROTEGER&Aacute; SUS DATOS PERSONALES. MIENTRAS NAVEGA EN ESTE SITIO WEB, USTED AUTOM&Aacute;TICAMENTE ACEPTA LAS NORMAS DE USO, PROTECCI&Oacute;N Y SEGURIDAD AQU&Iacute; ESTABLECIDAS</em></strong></p>
			<p style="font-weight: 400;">&nbsp;</p>
			<p style="font-weight: 400;">Este sitio web tiene por objeto la prestaci&oacute;n de servicios de gesti&oacute;n y almacenamiento de estudios e informes m&eacute;dicos de personas f&iacute;sicas. Los datos que difunde son meramente informativos. Biobox no realiza juicios de valor sobre la informaci&oacute;n, ni brinda recomendaci&oacute;n o asesoramiento de ninguna clase o naturaleza. Las fuentes de la informaci&oacute;n obrante en las bases de Biobox se indican en cada caso siendo todas ellas autorizadas por la Ley 25.326 de Protecci&oacute;n de Datos Personales. La informaci&oacute;n contenida en las bases de este sitio es confidencial y solo puede ser utilizada bajo esa condici&oacute;n.</p>
			<p style="font-weight: 400;">Esta Pol&iacute;tica de Privacidad puede cambiar con el tiempo o ser actualizada por lo que le recomendamos y enfatizamos revisar continuamente esta p&aacute;gina para asegurarse que est&aacute; de acuerdo con dichos cambios.</p>
			<p style="font-weight: 400;">&nbsp;</p>
			<p style="font-weight: 400;"><strong>Seguridad y Protecci&oacute;n de sus Datos Personales</strong></p>
			<p style="font-weight: 400;">La seguridad de los datos personales es una prioridad para Biobox. Este sitio web se esfuerza por ofrecer el m&aacute;s alto nivel de seguridad para lo cual se utiliza tecnolog&iacute;a de avanzada. Adherimos a los requerimientos de la Ley Nacional de Protecci&oacute;n de Datos Personales,&nbsp;N&deg;&nbsp;25.326 y sus normas complementarias.</p>
			<p style="font-weight: 400;">&nbsp;</p>
			<p style="font-weight: 400;"><strong>Su privacidad</strong></p>
			<p style="font-weight: 400;">Biobox respeta su privacidad. Toda la informaci&oacute;n que usted nos proporcione se tratar&aacute; con sumo cuidado y con la mayor seguridad posible, y s&oacute;lo se utilizar&aacute; de acuerdo con los l&iacute;mites establecidos en este documento.</p>
			<p style="font-weight: 400;">La informaci&oacute;n que sea revelada a trav&eacute;s de la p&aacute;gina web es confidencial. Tanto el usuario como Biobox deber&aacute;n respetar el secreto profesional establecido en la normativa vigente.</p>
			<p style="font-weight: 400;">La informaci&oacute;n brindada a los usuarios es para su uso directo y exclusivo.</p>
			<p style="font-weight: 400;">En cualquier momento usted puede restringir la recopilaci&oacute;n o el uso de la informaci&oacute;n personal que es proporcionada a nuestro sitio web.&nbsp;&nbsp;Cada vez que se le solicite rellenar un formulario, como el de alta de usuario, puede marcar o desmarcar la opci&oacute;n de recibir informaci&oacute;n por correo electr&oacute;nico.&nbsp;&nbsp;En caso de que haya marcado la opci&oacute;n de recibir nuestro bolet&iacute;n o publicidad usted puede cancelarla en cualquier momento.</p>
			<p style="font-weight: 400;">&nbsp;</p>
			<p style="font-weight: 400;"><strong>&iquest;C&oacute;mo se re&uacute;ne la informaci&oacute;n?</strong></p>
			<p style="font-weight: 400;">Biobox solamente re&uacute;ne sus datos personales y toda otra informaci&oacute;n de su propiedad, a trav&eacute;s de la vinculaci&oacute;n con el sistema de gesti&oacute;n de la Instituci&oacute;n en la que Usted se realizara los estudios m&eacute;dicos y se corresponden a los que Usted proporcionara en forma directa y con su consentimiento expreso e informado, al momento de concurrir a la realizaci&oacute;n de dichos estudios.</p>
			<p style="font-weight: 400;">La exactitud, veracidad o error en la informaci&oacute;n de nuestras bases, depender&aacute; de la exactitud, veracidad y errores que contengan las bases de datos desde la cual se nos env&iacute;a la informaci&oacute;n. Si encuentra errores, lo invitamos a comunicarse con nosotros para que podamos iniciar los procesos de correcci&oacute;n necesarios y suficientes a fin de que la informaci&oacute;n disponible en Biobox, sea exacta y veraz; o en su defecto para que se retire la informaci&oacute;n err&oacute;nea o no exacta.</p>
			<p style="font-weight: 400;">&nbsp;</p>
			<p style="font-weight: 400;"><strong>&iquest;C&oacute;mo utiliza Biobox su informaci&oacute;n?</strong></p>
			<p style="font-weight: 400;">Biobox utiliza la informaci&oacute;n que usted proporciona y la de los estudios e informes correspondientes para: permitir su acceso a los mismos y restringir el acceso a terceras personas; y para fines estad&iacute;sticos.</p>
			<p style="font-weight: 400;">&nbsp;</p>
			<p style="font-weight: 400;"><strong>&iquest;Qui&eacute;n tiene acceso a la informaci&oacute;n?</strong></p>
			<p style="font-weight: 400;">Biobox siempre est&aacute; comprometido en la mejora continua de los servicios que proporciona, as&iacute; como a la mejora en la calidad de las prestaciones de salud, por lo que la informaci&oacute;n no identificable y estad&iacute;stica podr&aacute; ser compartida con organismos p&uacute;blicos o privados dedicados al estudio y an&aacute;lisis de las prestaciones de salud.</p>
			<p style="font-weight: 400;">Biobox no vender&aacute;, ceder&aacute;, ni distribuir&aacute; la informaci&oacute;n personal, los estudios e informes que recopila, sin su consentimiento, salvo que sea requerido por un juez con un orden judicial.</p>
			<p style="font-weight: 400;">&nbsp;</p>
			<p style="font-weight: 400;"><strong>Cookies</strong></p>
			<p style="font-weight: 400;">Una cookie se refiere a un fichero que es enviado con la finalidad de solicitar permiso para almacenarse en su ordenador, al aceptar dicho fichero se crea y la cookie sirve entonces para tener informaci&oacute;n respecto al tr&aacute;fico web, y tambi&eacute;n facilita las futuras visitas a una web recurrente. Otra funci&oacute;n que tienen las cookies es que con ellas&nbsp;las web&nbsp;pueden reconocerte individualmente y por tanto brindarte el mejor servicio personalizado de su web.</p>
			<p style="font-weight: 400;">Nuestro sitio web emplea las cookies para poder identificar determinados par&aacute;metros t&eacute;cnicos y de uso. Esta informaci&oacute;n es empleada &uacute;nicamente para an&aacute;lisis estad&iacute;stico y despu&eacute;s la informaci&oacute;n se elimina de forma permanente. Usted puede eliminar las cookies en cualquier momento desde su ordenador. Sin embargo, las cookies ayudan a proporcionar un mejor servicio de los sitios web, est&aacute;s no dan acceso a informaci&oacute;n de su ordenador ni de usted, a menos de que usted as&iacute; lo quiera y la proporcione directamente, visitas a una web. Usted puede aceptar o negar el uso de cookies, sin embargo, la mayor&iacute;a de los navegadores aceptan cookies autom&aacute;ticamente pues sirve para tener un mejor servicio web. Tambi&eacute;n usted puede cambiar la configuraci&oacute;n de su ordenador para declinar las cookies. Si se declinan es posible que no pueda utilizar algunos de nuestros servicios.</p>
			<p style="font-weight: 400;">&nbsp;</p>
			<p style="font-weight: 400;"><strong>Enlaces a Terceros</strong></p>
			<p style="font-weight: 400;">Este sitio web pudiera contener enlaces a otros sitios que pudieran ser de su inter&eacute;s. Una vez que usted de clic en estos enlaces y abandone nuestra p&aacute;gina, ya no tenemos control sobre el sitio al que es redirigido y por lo tanto no somos responsables de los t&eacute;rminos o privacidad, ni de la protecci&oacute;n de sus datos en esos otros sitios terceros. Dichos sitios est&aacute;n sujetos a sus propias pol&iacute;ticas de privacidad por lo cual es recomendable que los consulte para confirmar que usted est&aacute; de acuerdo con estas.</p>
			<p style="font-weight: 400;"><strong>&nbsp;</strong></p>
			<p style="font-weight: 400;"><strong>Fallas en el sistema</strong></p>
			<p style="font-weight: 400;">Biobox no garantiza la inexistencia de eventuales dificultades t&eacute;cnicas o fallas en los sistemas o en Internet. Biobox no garantiza el acceso y uso continuado del Sitio Web. El sistema puede no estar disponible debido a dificultades t&eacute;cnicas o fallas de Internet o por cualquier otra circunstancia ajena a Biobox. En tales casos Biobox procurar&aacute; restablecerlo con la mayor celeridad posible.</p>
			<p style="font-weight: 400;">Toda la informaci&oacute;n y su dise&ntilde;o de presentaci&oacute;n constituyen propiedad intelectual de Biobox amparada por la Ley 11.723.</p>
			<p style="font-weight: 400;">&nbsp;</p>
			<p style="font-weight: 400;">Se fija como domicilio de Biobox el de la calle 9 de Julio 1257, Piso 9,&nbsp;Of. 93, de la Ciudad de Mendoza, Rep&uacute;blica Argentina. Ante cualquier duda, consulta o reclamo relacionado con la informaci&oacute;n proporcionada por Biobox a trav&eacute;s de su sitio web podr&aacute; comunicarse al tel&eacute;fono +542616608824 o v&iacute;a correo electr&oacute;nico a info@biobox.com.ar</p>
			</div>
			<p style="font-weight: 400;">&nbsp;</p>
			
				<div class="row">
					<div class="col-12 text-center">
						<button class="btn btn-success" ><i class="fa fa-check-circle"></i> Acepto</button>
						<button class="btn btn-danger" ><i class="fa fa-times-circle"></i> No acepto</button>
					</div>
				</div>
			</div>
		</div>
  
		<div class="modal-footer">
		  <div class="pull-left">
			<button class="btn btn-default" (click)="hide()"> CERRAR </button>
		  </div>
		</div>
	  </div>
	</div>
  </div>