<div id="section-studies" class="container">
    <div class="row">
      <div class="col justify-content-center">
        <header>
          <div class="company">
            <img [src]="imagePath" class="img-thumbnail text-center pt-0 pb-0" style="border: 0ch; max-width: 100%; max-height: 300px;">
          </div>
        </header>
      </div>
    </div>
    <div class="cont-studies">
        <div class="intro">
            <h6>ESTUDIOS DE:</h6>
            <h3>{{paciente}}</h3>
        </div>
      
        <div *ngFor="let item of estudios.lista; let i = index">
            <div class="study-card">
                <div class="thumb">
                    <img src="assets/images/thumb-eco.jpg" alt="">
                </div>
                <div class="study-card-data">
                    <h4>{{item.estudio | uppercase}}</h4>
                    <div class="actions">
                        <p>{{item.fecha}}</p>
                        <button class="btn btn-primary" (click)="_activarpanelestudio(3,item.turno)" >Ver más <i class="fas fa-arrow-right icon"></i></button>
                    </div>
                </div>
            </div>
        </div>
      
    </div>
</div>

<div class="developed-by">
    <p>DESARROLLADO POR</p>
    <img src="assets/images/biobox-logo.png" alt="" srcset="assets/images/biobox-logo.svg 2x">
</div>