<div class="container">
    <div class="row">
      <div class="col">
        <header>
          <div class="company">
            <img [src]="imagePath" class="img-thumbnail text-center pt-0 pb-0" style="border: 0ch; max-width: 90%; max-height: 300px;">
          </div>
        </header>
      </div>
    </div>
    <div class="cont-study">
      <!-- <div class="extra-row">
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-primary">Rodilla derecha</button>
          <button type="button" class="btn btn-linear-primary">Rodilla izquierda</button>
        </div>
      </div> -->
      <div class="card left">
        <div class="inner-row sticky">
          <div class="card-item">
            <div class="card-label">Estudio</div>
            <div class="card-value">{{estudio_nombre | uppercase}}</div>
          </div>
          <div class="card-item">
            <div class="card-label">FECHA DE REALIZACIÓN</div>
            <!-- <div class="card-value">{{fecha | date: 'dd/MM/yyyy'}}</div> -->
            <div class="card-value">{{fecha}}</div>
          </div>
          <div class="card-item">
            <div class="card-label">PACIENTE</div>
            <div class="card-value">{{paciente}}</div>
          </div>
          <div class="card-item d-none d-lg-block">
            <button class="btn btn-primary" (click)="informe()"><i class="far fa-file-alt icon"></i> Descargar informe</button>
          </div>
        </div>

        <div class="inner-row">
          <div class="card-item">
            <div class="card-label">SERIE DE IMAGENES</div>
              <div class="cont-card-images">

                <div *ngFor="let item of otrasseries; let i = index">
                  <div class="card-image">
                    <div class="thumb pointer">
                      <img src="{{ this.baseUrl + item.imgs[0].imagen }}" (click)="_activarpanelestudio(4,i)">
                    </div>
                    <div class="data">
                      <h5 class="name">{{item.serie}}</h5>
                      <a class="pointer" (click)="_activarpanelestudio(4,i)"><i class="fas fa-arrow-right icon"></i></a>
                    </div>
                  </div>  
                </div> 
            </div> <!-- end contenedor imagenes -->
          </div>
        </div>

        <div class="inner-row">
          <div class="card-item">
            <div class="card-label">ARCHIVO COMPLEMENTARIOS</div>
            <div class="cont-card-images">
              <div class="card-image files">
                <div class="thumb">
                  <img src="assets/images/thumb-eco.jpg" alt="">
                </div>
              </div>
              <!-- <div class="card-image files">
                <div class="thumb">
                  <img src="assets/images/thumb-eco.jpg" alt="">
                </div>
              </div>
              <div class="card-image files">
                <div class="thumb">
                  <img src="assets/images/thumb-eco.jpg" alt="">
                </div>
              </div> -->
            </div>
          </div>
        </div>
        <div class="inner-row">
          <div class="card-item">
            <div class="card-label">RECURSOS COMPLEMENTARIOS</div>
            <div class="cont-resources">
              <div class="resource">
                <i class="far fa-file-pdf icon"></i>
                <a href="">Archivo adicional en PDF</a>
              </div>
              <div class="resource">
                <i class="far fa-file-image icon"></i>
                <a href="">Archivo adicional como imagen y un título un poco mas largo</a>
              </div>
              <div class="resource">
                <i class="far fa-file-word icon"></i>
                <a href="">Archivo adicional en Word</a>
              </div>
            </div>
          </div>
        </div>
        <div class="inner-row d-lg-none sticky2">
          <div class="card-item">
            <button class="btn btn-primary"><i class="far fa-file-alt icon"></i> Descargar informe</button>
          </div>
        </div>
        <div class="inner-row">
          <div class="share">
            <h6>COMPARTIR</h6>
            <div class="social">
              <a href="whatsapp://send?" class="d-md-none whatsappString" target="_blank" ><i class="fab fa-whatsapp"></i></a>
              <a href="https://api.whatsapp.com/send?" class="d-none d-md-inline-block whatsappString" target="_blank"><i class="fab fa-whatsapp"></i></a>
              <a href="#" data-toggle="modal" data-target="#exampleModal"><i class="far fa-envelope"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col text-center">            
            <a class="btn btn-linear-secondary" role="button" (click)="_activarpanelestudio(1,0)">Ver todos mis estudios »</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="developed-by">
    <p>DESARROLLADO POR</p>
    <img src="assets/images/biobox-logo.png" alt="" srcset="assets/images/biobox-logo.svg 2x">
  </div>
