.alert{
  position: fixed;
  bottom: 16px;
  right:16px;
  background-color: $white;
  display: flex;
  align-items: flex-start;
  column-gap: 24px;
  p{
    font:400 16px $font-sans-serif;
    margin:0;
    flex: 1;
  }
  .close{
    font-size: 16px;
  }
  &.alert-success{
    p{
      strong{
        color:#155724;
      }
    }
    box-shadow: 0 0 20px transparentize(#155724, 0.8);
  }
  &.alert-warning{
    p{
      strong{
        color:#856404;
      }
    }
    box-shadow: 0 0 20px transparentize(#856404, 0.8);
  }
  &.alert-danger{
    p{
      strong{
        color:#721c24;
      }
    }
    box-shadow: 0 0 20px transparentize(#721c24, 0.8);
  }
}

@include media-breakpoint-down(md) {
  .alert{
    left: 16px;
  }
}