.btn{
  font:normal 12px $font-sans-serif;
  padding:8px 24px;
  border-radius: 40px;
  border: none;
  &.btn-primary{
    background: $primary;
    font:700 14px/24px $font-sans-serif;
    color:$white;
    text-transform: uppercase;
    .icon{
      font-size: 16px;
      margin: 0 8px;
    }
    &:hover{
      background-color: darken($primary, 10%);
    }
    &:active{
      background-color: $primary-dark !important;
    }
  }


  &.btn-default{
    font:300 15px $font-sans-serif;
    color:$black;
    letter-spacing: 3px;
    padding:0px;
  }



  &.btn-linear-secondary{
    font:600 16px/24px $font-sans-serif;
    color:$primary-dark;
    padding: 8px 32px;
    border:solid 1px $primary-dark;
    &:hover{
      color:$primary;
      border-color: $primary;
    }
  }
  &.btn-linear-primary{
    font:600 16px/24px $font-sans-serif;
    color:$primary;
    padding: 8px 32px;
    border:solid 1px $primary;
    &:hover{
      background-color: $primary-medium;
    }
  }

  &.btn-dropdown{
    background-color: $primary-dark;
    border-radius: 8px;
    padding: 8px 40px 8px 16px;
    font:700 16px $font-sans-serif;
    color:$white;
    width: 100%;
    text-align: left;
  }
  &.dropdown-toggle::after {
    position: absolute;
    right: 16px;
    top: 20px;
  }
}

.link{
  color:$primary;
  font:italic 16px/24px $font-sans-serif;
}


.btn-group{
  justify-content: center;
  .btn{
    border-radius: 8px;
    &.btn-linear-primary{
      background-color: $white;
    }
  }
}



@media screen and (max-width: 990px) {
  .btn{
    &.btn-viewmore{
      &:before{
        width: 40px;
      }
    }
  }
}
