.carousel-indicators{
  li{
    // background-color:$white;
  }
}

.carousel-control-prev, .carousel-control-next{
  i{
    color:$white;
    text-shadow:0 0 10px $primary;
  }
}

@media screen and (max-width: 990px) {
  .carousel-indicators{
    top:0;
  }
}