.dropdown{
	min-width: 250px;
	.dropdown-menu{
		position: relative;
		padding:8px;
		.dropdown-item{
			white-space: normal;
			color:$white;
			font:400 16px/16px $font-sans-serif;
			padding: 8px 16px;
			&:hover{
				background: transparentize($primary, 0.8);
				border-radius: 8px;
			}
			&.disabled{
				opacity: 0.5;
			}
			&.active{
				font-weight: 700;
				background-color: transparentize($primary, 0.8);
				position: relative;
				// margin: 0 8px;
    		// width: calc(100% - 16px);
				border-radius: 8px;
				&:after{
					content:'';
					width: 24px;
					height: 24px;
					display: inline-block;
					position: absolute;
					right: 8px;
					top:4px;
					background: url(../images/check@2x.svg) no-repeat center center;
				}
			}
		}
		&.show{
			top:12px;
			border:none;
			box-shadow: none;
			background: $primary-dark;
			border-radius:0 0 8px 8px;
			width: 100%;
		}
	}
}