.instagram_post{
  margin:0 15px 15px 15px;
  .cont-img{
    -webkit-backface-visibility: hidden;
    // height: 250px;
    background-color: $gray;
    -webkit-transform: scale(1);
     -moz-transform: scale(1);
      -ms-transform: scale(1);
       -o-transform: scale(1);
          transform: scale(1);
    @include transition(transform, 0.5s, ease);

    img{
      width: 100%;
    }
  }
  .cont-data{
    @include transition(all, 0.5s, ease-out);
    opacity:0;
    position: absolute;
    left:15px;
    right: 15px;
    top:0;
    bottom:0;
    padding: 40px;
    background-color: transparentize($body-bg, 0.1);
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    border:solid 5px $black;
    h6{
      font:16px $font-sans-serif;
      height: 65px;
      overflow: hidden;
      line-height: 16px;
      color:$black;
    }
    .data-post{
      display: inline-block;
      width: 100%;
      position: relative;
      text-align: center;
      small{
        font-size: 12px;
        width: 100%;
        display: inline-block;
        margin-bottom: 10px;
      }
      a{
        font-weight: bold;
        width: 100%;
        display: inline-block;
        margin-bottom: 10px;
        color:$primary;
        text-transform: uppercase;
      }
    }
  }
  &:hover{
    .cont-data{
      // @include transition-property(all);
      // @include transition-duration(0.5s);
      // @include transition-timing-function(ease-out);
      opacity:1;
    }
    .cont-img{
      // @include transition-property(all);
      // @include transition-duration(0.5s);
      // @include transition-timing-function(ease-out);
      -webkit-transform: scale(0.9);
         -moz-transform: scale(0.9);
          -ms-transform: scale(0.9);
           -o-transform: scale(0.9);
              transform: scale(0.9);
    }
  }
}