.modal{
  .modal-dialog{
    .modal-content{
      @include border-radius(10px);
      .modal-header{
        border-bottom: none;
      }
      .modal-body{

      }
      .modal-footer{
        border-top: none;
        justify-content: center;
      }
    }
  }
}