.share{
  position:sticky;
  text-align:center;
  top:100px;
  li{
    font: 10px/12px $font-sans-serif;
    color:$black;
    letter-spacing: 4px;
    padding: 0 0 20px 0;
    a{
      color:$black;
      font-size: 16px
    }
  }
}

@include media-breakpoint-down(lg){
  .share{
    margin-bottom: 20px;
    padding-bottom: 20px;
    // border-bottom:1px solid $gray-500;
    li{
      display: inline-block;
      padding:0;
      & + li {
        margin-left:20px;
      }
    }
  }
}