#carouselHomeControls{
	.carousel-item{
		.slide-info{
			position: absolute;
			z-index:10;
			left:0;
			top:100px;
			.caption{
				position: relative;
				margin: 40px 0;
				border-left:solid 3px $primary;
				padding:20px 40px;
				p{
					margin:0;
				}
				.link-video{
					position: absolute;
					right: 150px;
					top:0px;
					color:$gray-dark;
					img{
						margin-right: 10px;
					}
				}
			}
		}
	}
}

.carousel-indicators{
	position: relative;
	top: -40px;
	margin-bottom: 0;
	li{
		width: 10px;
		height: 10px;
		background-color:$gray-light;
		border-radius:10px;
		border:none;
		&.active{
			background-color:$primary;
		}
	}
}

.carousel-control-prev, .carousel-control-next{
	i{
		color:$gray;
		font-size: 30px;
	}
}