.thumbnail-product{
  max-width: 200px;
  margin:0 auto 60px auto;
  position: relative;
  transition: all 1s cubic-bezier(1, -0.01, 0.01, 1);
  // transition-delay:0.3s;

  &:before{
    content:'';
    opacity:0;
    transition: all 1s cubic-bezier(1, -0.01, 0.01, 1);
  }

  img{
    text-align: left;
    height: 200px;
    margin-bottom: 10px;
    position: relative;
    z-index: 2;
    transition: all 1s cubic-bezier(1, -0.01, 0.01, 1);
  }
  .title{
    text-align: left;
    font:20px / 20px $font-serif;
    color:$black;
    position: relative;
    z-index: 2;
    max-width: 200px;
    margin: auto;
  }
  .btn-viewmore{
    position: relative;
    z-index: 2;
  }
  &:hover{
    // text-align: center;
    max-width: 100%;
    transition: all 1s cubic-bezier(1, -0.01, 0.01, 1);
    .title{
      text-align: center;
      color:$white;
    }
    img{
      transform: translateX(230%);
      transition: all 1s cubic-bezier(1, -0.01, 0.01, 1);
    }
    .btn-viewmore{
      color:$white;
      text-align: center;
      width: 100%;
      display: inline-block;
    }
    &:before{
      opacity:1;
      transition: all 1s cubic-bezier(1, -0.01, 0.01, 1);
      content:'';
      position: absolute;
      z-index: 0;
      width: 250px;
      height: 90%;
      top:20%;
      left:0;
      right: 0;
      margin:auto;
      background-color: $primary;
    }
  }
}

.thumbnail-service{
  max-width: 200px;
  margin:0 auto 60px auto;
  position: relative;
  transition: all 1s cubic-bezier(1, -0.01, 0.01, 1);
  // transition-delay:0.3s;

  &:before{
    content:'';
    border:solid 1px $gray-500;
    background-color: $white;
    transition: all 1s cubic-bezier(1, -0.01, 0.01, 1);
    position: absolute;
    z-index: 0;
    width: 250px;
    height: 90%;
    top:20%;
    left:-25px;
    right: 0;
    margin:auto;
  }

  img{
    text-align: left;
    height: 200px;
    margin-bottom: 10px;
    position: relative;
    z-index: 2;
    transition: all 1s cubic-bezier(1, -0.01, 0.01, 1);
  }
  .title a{
    text-align: left;
    font:20px / 20px $font-serif;
    color:$black;
    position: relative;
    z-index: 2;
    max-width: 200px;
    margin: auto;
    text-decoration: none;
  }
  .btn-viewmore{
    position: relative;
    z-index: 2;
  }
  &:hover{
    text-align: center;
    max-width: 100%;
    transition: all 1s cubic-bezier(1, -0.01, 0.01, 1);
    .title a{
      text-align: center;
      color:$white;
      max-width: 200px;
    }
    img{
      // transform: translateX(230%);
      // transition: all 1s cubic-bezier(1, -0.01, 0.01, 1);
    }
    .btn-viewmore{
      color:$white;
      text-align: center;
      width: 100%;
      display: inline-block;
    }
    &:before{
      opacity:1;
      transition: all 1s cubic-bezier(1, -0.01, 0.01, 1);
      content:'';
      position: absolute;
      z-index: 0;
      width: 250px;
      height: 90%;
      top:20%;
      left:0;
      right: 0;
      margin:auto;
      background-color: $secondary;
      border:none;
    }
  }
}

.thumbnail-news{
  padding:0 15px 50px 15px;
  text-decoration: none;
  h3{
    color:$black;
  }
  p{
    color:$black;
  }
  .btn{

  }
  & + .thumbnail-news{
    // border-top: solid 1px $gray-500;
    margin-top: 20px;
  }
  a{
    &:hover{
      text-decoration: none;
      h3{
        text-decoration: none;
        color:$primary;
      }
      p{
        text-decoration: none;
      }
    }
  }
}

@include media-breakpoint-down(md){
  .thumbnail-product{
    text-align: center;
    .title{
      text-align: center;
    }
    &:hover{
      img{
        transform: translateX(0%);
        transform: translateY(-20px);
      }
    }
  }
}