<div class="container-fluid">
    
        <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
        </button> -->
        <!-- <span>Biobox</span>
        <span class="example-spacer"></span>
        <button mat-button (click)="_activarpanelestudio(1)" >Estudio</button>
        <button mat-button (click)="_activarpanelestudio(2)" >Informes</button>
        <button mat-button (click)="_activarpanelestudio(3)" >detalleestudio</button> -->
        <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
        </button> -->
        <!-- <mat-toolbar-row>
            <span>Custom Toolbar</span>
        </mat-toolbar-row>
        <mat-toolbar-row>
            <span>Second Line</span>
            <span class="example-spacer"></span>
            <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">verified_user</mat-icon>
        </mat-toolbar-row> -->

    
</div>  <!-- end contenedor -->

<div *ngIf="panelactivo == 1">
    <app-estudio-list [dtoEstudioList]="dtoEstudioList" (actualizarDTO)="_paramEstudioList($event)"></app-estudio-list> 
</div>
<div *ngIf="panelactivo == 2">
    <app-informes-list></app-informes-list>
</div>
<div *ngIf="panelactivo == 3">
    <app-detalleestudio [dtoDetalleEstudio]="dtoDetalleEstudio" (actualizarDTO)="_paramDetalleEstudio($event)"></app-detalleestudio>
</div>
<div *ngIf="panelactivo == 4">
    <app-estudio [dtoEstudio]="dtoEstudio" (actualizarDTO)="_paramEstudio($event)"></app-estudio>
</div>










  
