<div class="container">

  <div class="row mt-5">
    <div class="col-md-4 offset-md-4">
      <div class="cont-login">
        <header>
          <div class="company">
            <img [src]="imagePath" class="img-thumbnail text-center pt-0 pb-0" style="border: 0ch; max-width: 90%; max-height: 300px;">
          </div>
        </header>
        <div class="intro">
          <h4>Estudios y resultados clínicos</h4>
          <p>Desde aquí usted podrá visualizar sus estudios e informes clínicos.</p>
        </div>
        
        <form action="">
          <div class="form-group">
            <label for="">Documento</label>
            <input type="text" class="form-control" [(ngModel)]="nroestudio" name="estudio" [ngModelOptions]="{standalone: true}" placeholder="N° de Estudio">
            
          </div>
          <div class="form-group">
            <label for="">Codigo</label>
            <input type="text" class="form-control" [(ngModel)]="codigo" (ngModelChange)="codigo = $event.toUpperCase()" name="codigo" placeholder="Código">
          </div>
          <div class="form-group center">
            <a class="btn btn-primary" role="button" (click)="ingresar();" [hidden]="!captcha">Consultar</a>
          </div>
        </form>
        <div class="developed-by">
          <p>DESARROLLADO POR</p>
          <img src="assets/images/biobox-logo.png" alt="" srcset="assets/images/biobox-logo.svg 2x">
        </div>

      </div>
    </div> <!-- end col -->
  </div> <!-- end row -->

</div> 