<div id="section-galery">
    <div class="container-fluid">
        <div class="row">
            <div class="header-nav col">
            <div class="dropdown">
                <button class="btn btn-dropdown dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                    Acciones
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <!-- <a class="dropdown-item active" href="#">Action</a>
                    <a class="dropdown-item disabled" href="#">Another action</a> -->
                    <a class="dropdown-item pointer" (click)="_activarpanelestudio(3)">Volver a Mi Estudio »</a>
                </div>
            </div>
            <a class=""><i class="fas fa-times icon"></i></a>
            </div>      
        </div>
        <div class="d-flex justify-content-center">
            <h3 class="text-white">{{nombrepaciente}}</h3>
        </div>    

        <div class="row cont-image">            
            <div class="col-12 bgImgCenter1">        
                <div id="dicomWrapper" [style.height.px]="visor_height - 62" class='disable-selection noIbar'
                        unselectable='on' onselectstart='return false;' onmousedown="return false;">
                    <div [style.height.px]="contenido_height - 90" style="max-width: 100%; top:10px; left:0px; position:relative;"
                        cornerstone [herramienta]="herramienta_visor" [image]="imageData" id="dicomImage" [data]="estudio_seleccionado">
                    </div>                
                    <div id="mrtopright" style="position: absolute;bottom:55px; left:1px">
                        {{estudio_nombre}}
                    </div>
                    
                    <div id="mrbottomright" style="position: absolute;bottom:10px; right:1px">
                        <div id="frameRate"></div>
                        <div id="zoomText"> </div>
                        <div id="imageNumAndCount"> </div>
                    </div>            
                </div>           
            </div> 
        </div>
        <div class="row">
            <div class="tools fondobody">
                <div class="patient">
                    <div class="switch">
                        <input type="checkbox" id="typeview" [(ngModel)]="isMostrarbtn">
                        <label for="typeview">
                            <span></span>
                            <span *ngIf="!isMostrarbtn">Usuario</span>
                            <span *ngIf="isMostrarbtn">Médico</span>
                        </label>
                    </div>
                    <div class="zoom">
                        <div class="zoom-data">
                            <div class="item">
                                <h6>ZOOM</h6>
                                <p>2.49</p>
                            </div>
                            <div class="item">
                                <h6>Imagen</h6>
                                <p>1 de 12</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="doctor" *ngIf="!isMostrarbtn">     
                    <div class="d-flex justify-content-center"> Modo Usuario </div>               
                </div>
                <div class="doctor" *ngIf="isMostrarbtn">                    
                    <div class="d-flex justify-content-center flex-wrap"> 
                            
                        <button type="button" class="btn btn-primary" (click)='setear_herramienta("stack")' 
                        aria-pressed="false"><i class="fa fa-bars fa-lg" aria-hidden="true"></i>&nbsp;&nbsp;<span id='stackspan'>Stack</span></button>
                    
                        <button type="button" class="btn btn-primary" (click)='setear_herramienta("wwwc")'
                        aria-pressed="true"><i class="fa fa-adjust fa-lg" aria-hidden="true"></i>&nbsp;&nbsp;<span id='brillospan'>Brillo</span></button>
                    
                        <button type="button" class="btn btn-primary" (click)='setear_herramienta("zoom")'
                        aria-pressed="true"><i class="fa fa-search fa-lg" aria-hidden="true"></i>&nbsp;&nbsp;<span>Zoom</span></button>
                    
                        <button type="button" class="btn btn-primary" (click)='setear_herramienta("pan")' aria-pressed="true"><i
                            class="fa fa-arrows-alt fa-lg" aria-hidden="true"></i>&nbsp;&nbsp;<span>Mover</span></button>
                    
                        <button type="button" class="btn btn-primary" (click)='setear_herramienta("magnify")'
                        aria-pressed="true"><i class="fa fa-circle fa-lg" aria-hidden="true"></i>&nbsp;&nbsp;<span>Lupa</span></button>
                    
                        <button type="button" class="btn btn-primary" (click)='setear_herramienta("reset")'
                        aria-pressed="true"><i class="fa fa-power-off fa-lg" aria-hidden="true"></i>&nbsp;&nbsp;<span>Resetear</span></button>
                    
                        <button type="button" class="btn btn-primary" (click)='setear_herramienta("rotate")' 
                        aria-pressed="true"><i class="fa fa-undo fa-lg" aria-hidden="true"></i>&nbsp;&nbsp;<span>Rotar</span></button>
                    
                        <button type="button" class="btn btn-primary" (click)='setear_herramienta("invert")' 
                        aria-pressed="true"><i class="fa fa-adjust fa-lg" aria-hidden="true"></i>&nbsp;&nbsp;<span>Invert.</span></button>
                       
                    </div>        
                </div>
            </div>
        </div>
    </div>
</div>  



