.modal-backdrop {
  z-index: -1 !important;
}

.menu {
  overflow: hidden;
  position: fixed;
  bottom: 0px;
  right: 0px;
  width: 100%;
  z-index: 1000;
  flex-wrap: wrap;
}
.menu button {
  height: 60px !important;
}

#dicomWrapper {
  width: 100%;
  /* height: 100%; */
  position: relative;
  color: white;
  display: inline-block;
  border: 1px solid black;
}

#dicomImage {
  position: absolute;
  bottom: 0px;
  right: 0px;
  top: 0px;
  left: 0px;
  height: 565px;
}

#menu {
  background-color: transparent;
}

#menu i {
  display: block;
  margin: 0 auto 10px auto;
  width: 32px;
  height: 32px;
  margin: 10px auto 0;
  line-height: 32px;
  text-align: center;
  margin-top:0;
  padding-top:0px;
}

#menu span{
  color:black;
  font-size:10px;
  display:block;
  text-transform:uppercase;
  font-family:'Josefin Sans';
  letter-spacing:1px;
  color: white;
}

#menu .btn{
  color: #9ccef9;
  border: 0px transparent;
}


#menu  button.btn:active, 
#menu  button.btn:focus, 
#menu  button.btn:target, 
#menu  button.btn:active:focus { 
  color:#1e8ff1;
  outline: none;
  box-shadow:none;
 }

#menu  button.btn:active span, 
#menu  button.btn:focus span, 
#menu  button.btn:target span, 
#menu  button.btn:active:focus span { 
  color:#1e8ff1;

 }

 .botonActivado{
    color:#1e8ff1 !important;
    outline: none !important;
    box-shadow:none !important;
 }

 .spanActivado{
  color:#1e8ff1 !important;
}

.oculto{
    display: none !important;
}

.ocultarDicom{
  display: none
}
 
.bgImgCenter{
  background-image: url('/assets/cargando3.gif');
  background-repeat: no-repeat;
  background-position: center; 
  position: relative;
}

 #navbar{
  position: fixed;
  width: 100%;
  height: 10%;
  top: 0;
  left: 0;
  background-color: whitesmoke;
  height: 40px;
}

#pageselection{
  position: absolute;
  width: 40%;
  height: 100%;
  right: 30%;
  background-color: gray;
}

.nav-button{
  float:left;
  width:33%;
  height: 100%;
  text-align: center;
  line-height:40px;
}
.nav-button a{
  display:block;
  height: 100%;
}


/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s;
  z-index: 1100; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

.table{
  margin-bottom: 0;
}

.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-height: 667px) {
    #dicomImage {
      height: 400px;
      
    }
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}