.card{
  border:solid 1px $primary-medium;
  box-shadow: 0 0 32px transparentize($secondary, 0.9);
  background-color: $white;
  border-radius: 8px;
  padding:24px 0 16px 0;
  display: flex;
  flex-direction: column;
  margin:0 0 32px 0;
  position: relative;
  &:before{
    content:'';
    position: absolute;
    top:-12px;
    display: none;
    width: 32px;
    height: 32px;
    background: url(../images/picker@2x.svg) no-repeat center top;
    z-index: 100;
  }
  &.left{
    &:before{
      display: none;
      left:22.5%;
    }
  }
  &.right{
    &:before{
      display: none;
      right:22.5%;
    }
  }
  
  .inner-row{
    display: flex; 
    border-bottom: solid 1px $primary-medium;
    &.sticky{
      position: -webkit-sticky;
      position: sticky;
      top:0;
      background-color: transparentize($white, 0.05);
      padding-top: 16px;
    }
    &.sticky2{
      position: -webkit-sticky;
      position: sticky;
      bottom:0;
      background-color: transparentize($white, 0.05);
      padding: 16px 0 0 0;
      margin-top: 0 !important;
      border-top: solid 1px $primary-medium;
      .card-item{
        text-align: center;
      }
    }
    & + .inner-row{
      margin-top: 16px;
    }
    &:last-child{
      border:none !important;
    }
    .share{
      display: flex;
      width: 100%;
      justify-content: center;
      column-gap: 24px;
      align-items: center;
      h6{
        font:400 12px $font-sans-serif;
        color:$gray-light;
        margin:0;
      }
      a{
        color:$primary;
        font-size: 24px;
        & + a{
          margin-left:16px;
        }
      }
    }
  }
  .card-item{
    padding: 0 24px 16px 24px;
    flex:1;
    .card-label{
      font:400 12px $font-sans-serif;
      color:$gray-light;
      letter-spacing: 2px;
      text-transform: uppercase;
    }
    .card-value{
      font:700 20px $font-sans-serif;
      color:$black;
    }
    .cont-card-images{
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      gap: 16px;
      padding-top: 8px;
      .card-image{
        display: flex;
        background: linear-gradient(180deg, #221E1F 70%, #2A4D47 100%);
        border-radius: 4px;
        flex-direction: column;
        width: 100%;
        .thumb{
          padding: 16px;
          img, video, figure{
            width: 100%;
          }
        }
        .data{
          width: 100%;
          display:flex;
          justify-content: space-between;
          align-items: center;
          padding: 8px 16px;
          .name{
            color:$white;
            margin:0;
          }
          .icon{
            color:$white;
          }
        }
        &.files{
          .thumb{
            padding:0;
          }
        }
      }
    }
    .cont-resources{
      display: flex;
      padding-top: 8px;
      gap: 16px;
      flex-wrap: wrap;
      .resource{
        background-color: $primary-medium;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        row-gap: 8px;
        padding: 16px 32px;
        align-items: center;
        max-width: 300px;
        .icon{
          color:$primary;
          font-size: 32px;
        }
        a{
          font:300 14px $font-sans-serif;
          color:$black;
        }
      }
    }
    + .card-item{
      // margin-top: 16px;
      border-left: solid 1px $primary-medium;
    }
  }
}




@include media-breakpoint-down(md) {
  .card{
    .card-item{
      .cont-card-images{
        grid-template-columns: repeat(4, 1fr);
      }
      .cont-resources{
        flex-direction: column;
        .resource{
          flex: 1;
          max-width: 100%;
          flex-direction: row;
          padding: 16px;
          gap:16px;
        }
      }
    }
    .inner-row{
      flex-direction: column;
      &.sticky{
        position: relative;
      }
    }
    &.left{
      &:before{
        display: inline-block;
      }
    }
    &.right{
      &:before{
        display: inline-block;
      }
    }
  }
}


@include media-breakpoint-down(sm) {
  .card{
    .card-item{
      .cont-card-images{
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
}
