.developed-by{
	display: flex;
	justify-content: center;
	align-items: center;
	margin:80px 0 24px 0;
	p{
		font:8px/8px $font-sans-serif;
		letter-spacing: 8%;
		text-transform: uppercase;
		color: $black;
		margin:0 4px 0 0;
	}

	img{
		width: 72px;
	}
}


footer{
	
}

@include media-breakpoint-down(md){
	footer{
	}
}