header{
	.company{
		max-width: 150px;
		width: 100%;
		margin:16px auto 40px auto;
		text-align: center;
		img{
			width: 100%;
		}
	}
}

.header-nav{
	background: linear-gradient(90deg, #221E1F 0%, #2A4D47 100%);
	padding:8px 16px;
	display: flex;
	justify-content: space-between;
	position: relative;
	align-items: center;
	column-gap: 24px;
	.icon{
		color:$white;
		font-size: 16px;
	}
}


@include media-breakpoint-down(sm) {
	header{
		.navbar{
		  .navbar-collapse{
		    width:300px;
		    right:-300px;
		  }
		}
	}
}