h1, h2, h3, h4, h5, h6{
  font-family:$font-sans-serif;
  font-weight:normal;
}
h1{
  font:60px/60px $font-sans-serif;
  color:$black;
  &.dark{
    color:$black;
  }
}
h2{
  font:300 40px/40px $font-sans-serif;
  color:$black;
}
h3{
  font:700 32px/40px $font-sans-serif;
  color:$black;
}
h4{
  font:700 20px/24px $font-sans-serif;
  color:$black;
}
h5{
  color:$black;
  font:700 16px/24px $font-sans-serif;

}
h6{
  color:$black;
  font:400 14px/24px $font-sans-serif;
  letter-spacing: 2px;
}