html{
	font-family:$font-sans-serif;
	font-weight:400;
	body{
		min-height:100vh;
		background-color:$primary-light;
		font-family:$font-sans-serif;
		font-weight:400;
		overflow-x:hidden;
		&.menu-open{
			overflow:hidden;
		}
	}
}
