form{
  width: 100%;
}
.form-group{
  width: 100%;
  position:relative;
  label{
    font:400 14px $font-sans-serif;
    color:$black;
    padding:0px;
    margin: 0 0 4px 0;
  }
  input{
    &.form-control{
      font:700 16px $font-sans-serif;
      border:solid 1px $gray-lighter;
      color:$black;
      padding:16px;
      @include border-radius(8px);
      box-shadow: 0 0 32px transparentize($secondary, 0.9);
    }
  }


  textarea{
    &.form-control{
      background:transparent;
      @extend  input, .form-control;
      height: auto !important;
    }
  }

  & + .center{
    text-align: center;
  }
}

// TOGLE
[type="checkbox"] {
  position: absolute;
  left: -9999px;
}

.switch {
  position: relative;
  counter-increment: switchCounter;
  &::before {
    content: counter(switchCounter);
    position: absolute;
    top: 50%;
    left: -30px;
    transform: translateY(-50%);
    font-size: 2rem;
    font-weight: bold;
  }
  
  label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    margin:0;
  }
  span{
    color:$white;
    font:700 12px $font-sans-serif;
    text-transform: uppercase;
    &:first-child {
      position: relative;
      width: 50px;
      height: 26px;
      border-radius: 15px;
      box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.4);
      background: transparentize($white, 0.8);
      transition: all 0.3s;
      margin:0 16px 0 0;
      border:solid 1px $primary;
    }
  }
}


.switch span:first-child::before,
.switch span:first-child::after {
  content: "";
  position: absolute;
}

.switch span:first-child::before {
  left: 0px;
  top: 0px;
  width: 24px;
  height: 24px;
  background: var(--white);
  border-radius: 50%;
  z-index: 1;
  transition: transform 0.3s;
}

.switch span:first-child::after {
  top: 50%;
  right: 8px;
  width: 12px;
  height: 12px;
  transform: translateY(-50%);
  background: url(../../assets/images/user@2x.svg) no-repeat center center;
  background-size: 12px 12px;
}

.switch [type="checkbox"]:checked + label span:first-child {
  background: $primary;
}


.switch [type="checkbox"]:checked + label span:first-child::before {
  transform: translateX(24px);
}

.switch [type="checkbox"]:checked + label span:first-child::after {
  width: 14px;
  height: 14px;
  /*right: auto;*/
  left: 8px;
  background: url(../../assets/images/user-nurse@2x.svg) no-repeat center center;
  background-size: 14px 14px;
}

@media screen and (max-width: 600px) {
  .switch li::before {
    display: none;
  }
}

@media screen and (-webkit-min-device-pixel-ratio:0) {

}