.cont-loader{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .loader{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .cont-image{
      position: relative;
      width: 88px;
      height: 88px;
      margin:0 0 16px 0;
      img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
      }
    }
    h5{
      font-weight: 400;
      text-transform: uppercase;
      font-size: 12px;
      letter-spacing: 1px;
    }
  }
}