nav{
	&.nav{

		position: sticky;
		top:40px;
		right:40px;
		z-index: 1000;

		// @extend .bg.tranparent-vertical;

		@include prefix(display, flex);
		@include prefix(align-content, stretch);
		@include prefix(align-items, stretch);
		@include prefix(justify-content, stretch);

		& > div {
			flex: 1 1 auto;
			position:relative;
			&:before{
				content:'';
				position:absolute;
				left:-1px;
				top:-10px;
				width:1px;
				height:50px;
				background:transparentize($white, 0.8);
				// border-left:1px solid transparentize($white, 0.5);
			}

			// Menu
			&.btn-menu{
				padding:0 30px;
				flex: 0 0 30px !important;
			}

			// social
			&.social{
				padding:0 30px;
				@include prefix(display, flex);
				@include prefix(align-content, stretch);
				@include prefix(align-items, stretch);
				@include prefix(justify-content, stretch);
				a{
					flex:1 1 auto;
					color:$white;
					text-align:center;
				}
			}

			// BRAND
			&.brand{
				text-align:center;
				img{
					width: 200px;
				}
			}

			&.idiom{
				.dropdown-toggle{
					color:$white;
					text-align:center;
					text-transform: uppercase;
				}
			}


		}
	}
}

@include media-breakpoint-down(md) {
	nav{
		&.nav{
			width: 100%;
			max-width:calc(100% - 20%);
			position: fixed;
			top:40px;
			right:10%;
			@include prefix(justify-content, space-between);
			.brand{
				max-width: 40%;
				text-align: left !important;
				&:before{
					display: none;
				}
			}
			.btn-menu{
			}
		}
	}
}

@include media-breakpoint-down(xs) {
	nav{
		&.nav{
			top:20px;
			max-width: calc(100% - 10%);
			right:5%;
			.brand{
				&:before{
					display: none;
				}
				max-width: 180px;
				img{
					width:100% !important;
				}
			}
		}
	}
}