ul{
  list-style:none;
  margin:0;
  padding:0;
  li{
    @extend p;
  }
  &.list{
    li{
      padding:0 0 0 20px;
      position:relative;
      @extend p;
      &:before{
        content:'-';
        color:$gray-500;
        position:absolute;
        left:0;
      }
      @extend p;
    }
  }
}