.video-container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    video{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
    }
}

@media screen and (orientation: landscape) {
  .video-container video {
      height: 100%;
      width: auto;
  }
}