#section-home{

	section{

		// ****************
		//    SECTION 1
		// ****************
		&.section-1{
			padding-top: 120px;
			min-height: 100vh;
			h1{
				font-size: 55px;
				line-height: 55px;
				font-weight: 500;
			}
			.flexslider{
				// overflow: hidden;
				.slides{
					// margin-top: -12%;
				}
			}
			.cont-data{
				@include prefix(display, flex);
				@include prefix(align-items, stretch);
				padding-bottom: 20px;
				height: 100%;
				.data-left{
					text-align: right;
					padding-right: 40px;
					position: relative;
					z-index: 3;
					&:before{
						content:'';
						position: absolute;
						height: 150%;
						top:0;
						right: 0;
						border-right: solid 1px $gray-light;
						border-left: solid 1px $white;
					}
				}
				.data-right{
					min-width: 150px;
					padding-left: 40px;
					@include prefix(display, flex);
					@include prefix(flex-direction, column);
					@include prefix(align-items, space-between);
					@include prefix(align-content, space-between);
					@include prefix(justify-content, space-between);
					.btn{
						text-align: left;
						font-size: 12px;
					}
				}
			}
		}



		// ****************
		//    SECTION 2
		// ****************
		&.section-2{

		}





		// ****************
		//    SECTION 3
		// ****************
		&.section-3{
			background: $secondary url(../images/bg-green.jpg) no-repeat center center;
			background-size: cover;
			padding: 20vh 0;
			.cont-data{
				max-width: 500px;
				h2{
					margin:40px 0 40px -15%;
					color:$white;
					font-size: 50px;
					line-height: 50px;
					font-weight: 500;
				}
				h6{
					color:$white;
				}
				p{
					margin-top: 40px;
					color:$white;
				}
			}
		}


		// ****************
		//    SECTION 4
		// ****************
		&.section-4{
			min-height: 100vh;
			width: 100%;
			display: inline-block;
			.cont-data{
				padding:20vh 40px;
				background-color: $white;
				@include prefix(display, flex);
				@include prefix(flex-direction, column);
				@include prefix(align-content, flex-start);
				@include prefix(align-items, flex-start);
				@include prefix(justify-content, center);
				h2{
					font-size: 55px;
					line-height: 50px;
				}
				h2, h6{
					margin-bottom: 40px;
				}
				&:before{
					content:'';
					position: absolute;
					background-color: $white;
					width: 100%;
					height: 10vh;
					top:-10vh;
					right: 0;
				}
			}
			.cont-image{
				background-size: cover;
			}
		}


	}


}


@include media-breakpoint-down(md) {
	#section-home{
		section{
			&.section-1{
				// text-align: center;
				h1{
					font-size: 45px;
					line-height: 55px;
				}
				h3{
					font-size: 25px;
				}
			}
			&.section-2{
				// text-align: center;
				img{
					margin-bottom: 60px;
				}
				.data-item{
					// text-align: center;
					a {
						// text-align: center !important;
					}
				}
			}
			&.section-3{
				// text-align: center !important;
				h3{
					font-size: 30px;
				}
				img{
					height: auto;
				}
			}
			&.section-4{
				.header-torism{
					padding: 0px 10vw;
    			margin-top: -58px;
					h3{
						font-size: 6vw;
					}
				}
				.data-1{
					text-align: left !important;
					a{
						margin: 0 auto 20px 0;
					}
				}
			}
		}
	}
}


@include media-breakpoint-down(xl) {

}

@include media-breakpoint-down(md){
	#section-home{
		section{
			&.section-1{
				padding-top: 100px;
				.cont-data{
					@include prefix(flex-direction, column);
					.data-left{
						text-align: left;
						padding-right: 0px;
						padding-left: 40px;
						&:before{
							content:'';
							position: absolute;
							height: 150%;
							top:0;
							left: 0;
							right: auto;
							border-right: solid 1px $gray-light;
							border-left: solid 1px $white;
						}
					}
					.data-right{
						min-width: 150px;
						padding-left: 40px;
						@include prefix(display, flex);
						@include prefix(flex-direction, column);
						@include prefix(align-items, space-between);
						@include prefix(align-content, space-between);
						@include prefix(justify-content, space-between);
						.btn{
							text-align: left;
							font-size: 12px;
						}
					}
				}
			}
			&.section-3{
				padding: 5vh 0;
    		display: inline-block;
    		width: 100%;
    		height: 100%;
				.cont-data{
					h2{
						margin: 40px 0;
					}
				}
			}
			&.section-4{
				.cont{
					@include prefix(flex-direction, column-reverse);
					.cont-image{
						min-height: 400px;
					}
					.cont-data{
						padding: 5vh 40px;
					}
				}
			}
		}
	}
}

@include media-breakpoint-down(sm) {
	#section-home{
		section{
			&.section-1{
			}
			&.section-2{

			}
			&.section-3{

			}
			&.section-4{
				.header-torism{
					h3{
						font-size: 10vw;
					}
				}
			}
		}
	}
}
