#section-intro{
	min-height: 100vh;
	@include prefix(display, flex);
	@include prefix(justify-content, center);
	@include prefix(align-content, center);
	@include prefix(flex-direction, column);

	.logo{
		margin:0 0 20px 0;
	}

	.cont-data{
		@include prefix(display, flex);
		@include prefix(justify-content, stretch);
		.data{
			@include prefix(display, flex);
			@include prefix(flex, 1);
			@include prefix(flex-direction, column);
			@include prefix(justify-content, stretch);
			@include prefix(align-content, stretch);
			.title{
				@include prefix(flex, 1);
				padding: 40px;
				background: $secondary url('../images/bg-green.jpg') no-repeat center center;
				background-size: 200%;
				h1{
					color:$white;
					margin:0 0 0 20px;
					font-size: 45px;
				}
			}
			.text{
				padding: 40px;
				@include prefix(flex, 2);
				color:$black;
				p{
					margin-bottom: 40px;
				}
				ul{
					li{
						display: inline-block;
						width: 100%;
						margin:0;
						p{
							margin:0;
						}
						& + li{
							margin:20px 0 0 0;
						}
						a{
							img{
								width: 20px;
								margin:0 10px 0 0;
							}
							@extend .btn,.btn-default;
							&:hover{
								color:$primary;
							}
						}
					}
				}
			}
		}
	}
}


@include media-breakpoint-down(xl) {
}

@include media-breakpoint-down(md){
	#section-intro{
		.logo{
			margin:20px 0;
		}
		.cont-data{
			@include prefix(flex-direction, column);
			text-align: center;
			img{
				width: 100% !important;
    		height: auto !important;
    		max-width: 40px;
    		display: block;
    		margin:auto !important;
			}
			.data{
				.title{
					h1{
						text-align: center;
						margin:0;
					}
				}
				.text{
					text-align: center;
				}
			}
		}
	}
}

@include media-breakpoint-down(sm) {
	#section-intro{
		section{
			&.section-1{
			}
			&.section-2{

			}
			&.section-3{

			}
			&.section-4{
				.header-torism{
					h3{
						font-size: 10vw;
					}
				}
			}
		}
	}
}
