#section-news{
  .section-header{
    margin:100px 0;
    position: relative;
    .bg{
      position: absolute;
      z-index: 0;
      width: 100%;
      height: 100%;
      @include prefix(display, flex);
      @include prefix(justify-content, space-between);
      .pattern{
        background-color: $secondary;
        @include prefix(flex, 1);
      }
      .image{
        @include prefix(flex, 3);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
    .data{
      background-color: $white;
      padding: 40px;
      margin-top: 60px;
      position: relative;
      &:before{
        content:'';
        width: 50%;
        background-color: $white;
        height: 100%;
        position: absolute;
        left:-50%;
        top: 0;
      }
    }
  }

  &.page{
    .section-header{
      margin:100px 0 0 0;
      text-align: center;
      h1{
        font-size: 40px;
        line-height: 40px;
      }
    }
    .section-2{
      padding: 30px;
    }
  }
}

@include media-breakpoint-down(md){
  #section-news{
    .section-header{
      margin: 75px 0 0 0;
      .data{
        margin-top: 250px;
        padding:40px 40px 0 40px;
        h1{
          font-size: 40px;
          line-height: 50px;
        }
      }
    }
  }
}