#section-login{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  .cont-login{
    width: 100%;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    header{
      width: 100%;
    }
    .intro{
      text-align: center;
      p{
        margin:0;
        text-align: center;
      }
    }
    form{
      margin:40px 0 64px 0;
    }
  }
}

#section-studies{
  .cont-studies{
    .intro{
      background: linear-gradient(0deg, rgba(41,211,182,0) 0%, rgba(41,211,182,0.2) 100%);
      border-radius: 16px 16px 0 0;
      padding: 32px 24px 16px 24px;
      margin-bottom: 32px;
    }
    .study-card{
      border-radius:8px;
      background-color: $white;
      box-shadow: 0px 0px 32px 0px transparentize(#20584D, 0.9);
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding:16px;
      .thumb{
        width: 80px;
        margin: 0 8px 0 0;
        img{
          width: 100%;
        }
      }
      .study-card-data{
        width: 100%;
        display:flex;
        justify-content: space-between;
        align-items: center;
        h4{
          margin: 0;
        }
        .actions{
          display: flex;
          align-items: center;
          justify-content: space-between;
          p{
            margin:0 16px 0 0;
            font:400 16px $font-sans-serif;
            color:$gray-light;
          }
          .btn{

          }
        }
      }
      & + .study-card{
        margin-top: 24px;
      }
    }
  }
}

#section-galery{
  background-color: #000;
  .cont-image{
    height: calc(100vh - 104px);
    justify-content: center;
    align-items: center;
    img{
      max-width: 100%;
      max-height: 100%;
    }
  }
  .tools{
    position: fixed;
    bottom: 0;
    left:0;
    right: 0;
    .patient{
      display: flex;
      padding: 16px;
      justify-content: space-between;
      width: 100%;
      align-items: center;
      .zoom{
        border:solid 1px $white;
        display: flex;
        position: relative;
        .zoom-data{
          display: flex;
          .item{
            display: flex;
            flex-direction: column;
            padding: 8px;
            row-gap: 8px;
            h6{
              color: $white;
              font:8px/8px $font-sans-serif;
              margin:0;
              text-transform: uppercase;
            }
            p{
              color:$white;
              font:700 16px/16px $font-sans-serif;
              margin:0;
            }
            & + .item{
              border-left:solid 1px $white;
            }
          }
        }
        .zoom-controls{
          position: absolute;
          top:-140px;
          right: 0;
          display: flex;
          flex-direction: column;
          border-radius: 8px;
          background-color: $primary-dark;
          .control{
            padding: 16px;
            i{
              color:$white;
              font-size: 24px;
            }
            & + .control{
              border-top:solid 1px $black;
            }
          }
        }
      }
    }
    .doctor{
      overflow-x:auto;
    }
  }
}

#section-study{
  .cont-study{
    .extra-row{
      margin:0px 0 -16px 0;
      width: 100%;
      display: flex;
      justify-content: center;
      z-index: 100;
      position: relative;
    }
  }
}

@include media-breakpoint-down(md) {
  #section-studies{
    .cont-studies{
      .study-card{
        align-items: flex-start;
        .thumb{
          width: 64px;
        }
        .study-card-data{
          flex-direction: column;
          align-items: flex-start;
          row-gap: 8px;
          .actions{
            width: 100%;
            .btn{
              padding: 4px 8px 4px 16px;
              line-height: 20px !important;
            }
          }
        }
      }
    }
  }
  #section-study{
    .cont-study{
      .extra-row{
        margin:0px 0 16px 0;
        .btn-group{
          width: 100%;
          display: flex;
          .btn{
            flex: 1 1 auto;
          }
        }
      }
    }
  }
}


@include media-breakpoint-down(sm) {
  #section-studies{
    .cont-studies{
      .study-card{
        .thumb{
          width: 48px;
        }
        .study-card-data{
          .actions{
            .btn{
            }
          }
        }
      }
    }
  }
}

@include media-breakpoint-down(xs) {
  #section-studies{
    .cont-studies{
      .study-card{
        .thumb{
          width: 80px;
        }
        .study-card-data{
          .actions{
            flex-direction: column;
            align-items: flex-start;
            row-gap: 16px;
            .btn{
            }
          }
        }
      }
    }
  }
}