#section-product{
  .section-1{
    padding: 120px 0 10vh 0;
    position: relative;
    z-index: 1;

    .bottle{
      position: absolute;
      right: 12%;
      bottom:-5vh;
      height: 85vh;
      z-index: 5;
    }

    .col1{
      @include prefix(display, flex);
      @include prefix(flex-direction, column);
      @include prefix(align-items, flex-start);
      @include prefix(justify-content, center);
      h1{
        font-size: 70px;
        line-height: 70px;
        margin:30px 0;
        z-index: 10;
      }
      p{
        margin:0;
      }
      .primary{
        margin:20px 0;
      }
      .btn{
        // display: none;
        i, span{
          margin-right: 10px;
        }
      }
      hr{
        height: 1px;
        border-top:solid 1px $gray-200;
        width: 100%;
        margin: 20px 0 0 0;
      }
    }
    .col2{
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      z-index: 2;
      position: relative;
      min-height: 400px;
      &:before{
        content:'';
        position: absolute;
        width: 200px;
        height: 100%;
        left:0;
        top:right;
        background-image: linear-gradient(-270deg, #FFFFFF 0%, rgba(255,255,255,0.00) 100%);
      }
      &:after{
        content:'';
        width: 50%;
        height: 100%;
        background: $primary url(../images/bg-pattern-1.jpg) repeat center center;
        background-size: 100%;
        z-index: 0;
        position: absolute;
        right: -50%;
        top:0px;
      }
      &.highlight{
        &:after{
          background: $secondary url(../images/bg-green.jpg) no-repeat center center;
          background-size: 350%;
        }
      }

    }
  }



  .section-2{
    position: relative;
    z-index: 1;
    &:after{
      content:'';
      height: 80%;
      bottom: 0;
      left: 0;
      position: absolute;
      background-color: $gray-lighter;
      display: inline-block;
      width: 80%;
      z-index: 0;
    }
    .additionals{
      z-index: 1;
      h6{
        font:600 16px $font-serif;
        color:$black;
        letter-spacing: 0;
        margin-bottom: 20px;
      }
      p{
        font:300 12px $font-sans-serif;
        color:$black;
      }
    }
  }

  .section-3{
    text-align: center;
    margin: 100px 0;
    position: relative;
    &:after{
      content:'';
      position:absolute;
      height: 80%;
      top:10%;
      width: 100%;
      background: $secondary url('../images/bg-green.jpg') no-repeat center center;
      background-size: cover;
      z-index: 0;
      left: 0;
    }
    img{
      z-index: 1;
      position: relative;
    }
    .data{
      z-index: 1;
      text-align: left;
      @include prefix(display, flex);
      @include prefix(flex-direction, column);
      @include prefix(align-items, flex-start);
      @include prefix(justify-content, center);
      .title{
        margin-left: -15%;
        color:$white;
        font-size: 40px;
        line-height: 40px;
        font-weight: 500;
      }
      h6{
        color:$white;
      }
    }
  }

  .section-header{
    margin:100px 0 0 0;
    position: relative;
    .bg{
      position: absolute;
      z-index: 0;
      width: 100%;
      height: 100%;
      @include prefix(display, flex);
      @include prefix(justify-content, space-between);
      .pattern{
        background: $secondary url(../images/bg-green.jpg) no-repeat center center;
        background-size: 350%;
        @include prefix(flex, 1);
      }
      .image{
        @include prefix(flex, 3);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
    .data{
      background-color: $white;
      padding: 40px;
      margin-top: 60px;
      position: relative;
      &:before{
        content:'';
        width: 50%;
        background-color: $white;
        height: 100%;
        position: absolute;
        left:-50%;
        top: 0;
      }
    }
  }

  .section-data{
    padding:60px 0;
    .submenu{
      text-align: left;
      position: relative;
      &:before{
        content:'';
        display: inline-block;
        width: 50%;
        margin-left: 20%;
        border-top: solid 1px $gray;
      }
      &:after{
        content:'';
        display: inline-block;
        width: 50%;
        margin-left: 20%;
        border-bottom: solid 1px $gray;
      }

      & > li{
        display: inline-block;
        width: 100%;

        a{
          font:300 12px/35px $font-sans-serif;
          color:$black;
          letter-spacing: 4px;
          text-transform: uppercase;
          text-decoration: none;
        }
        & > ul{
          // padding-left: 20px;
          & > li{
            position: relative;
            margin:0;
            &:before{
              content:'-';
              font-size: 10px;
              margin-right: 5px;
            }
            & > a{
              letter-spacing: 2px;
              font-size: 11px
            }
            &:hover, &.active{
              & > a{
                color:$primary;
                font-weight: 600;
              }
            }
          }
        }
        &:hover, &.active{
          & > a{
            color:$primary;
            font-weight: 600;
          }
        }
      }

    }
    .text{
      column-count: 2;
      column-gap: 30px;
      padding-top: 10px;
    }
  }
}
@media (min-width: 1400px){
  #section-product{
    .section-1{
      .bottle{
        right: 22%;
        height: 65vh;
      }
    }
  }
}

@include media-breakpoint-down(md) {
  #section-product{
    .section-1{
      padding: 100px 0 0 0;
      .col1{
        justify-content:flex-start;
        h1{
          font-size: 50px;
          line-height: 60px;
        }
      }
      .bottle{
        position: relative;
        top: 0;
        right: 0;
        left: 0;
        margin: auto;
        height: 70vh;
      }
      .col2{
        min-height: 300px;
        margin-bottom: 80px;
        &:before{
          content:'';
          position: absolute;
          width: 100%;
          height: 100px;
          left:0;
          top:right;
          background-image: linear-gradient(-180deg, #FFFFFF 0%, rgba(255,255,255,0.00) 100%);
        }
        &:after{
          width: 100%;
          height: 70px;
          right: 0;
          top: 100%;
        }
      }
    }
    .section-header{
      margin: 75px 0 0 0;
      .bg{
        height: 50%;
        .pattern{
          display: none;
        }
        .image{
          background-position: center right;
        }
      }
      .data{
        margin-top: 250px;
        h1{
          font-size: 40px;
          line-height: 50px;
        }
      }
    }
    .section-data{
      padding: 0 0 60px 0;
      .submenu{
        text-align: center;
        padding-bottom: 40px;
        &:before{
          margin-left: auto;
        }
        &:after{
          margin-left: auto;
        }
      }
      .text{
        column-count: 1;
      }
    }
    .cont-list{
      text-align: center;
    }
    .section-3{
      margin: 0px 0 10% 0;
      &:after{
        height: 100%;
      }
      .data{
        .title{
          margin: 30px 0;
        }
      }
    }
    // .section-2{
    //   margin-top: -280px;
    //   .item{
    //     figure{
    //       height: 225px;
    //       &.extend + .btn{
    //         margin-top: -75px;
    //       }
    //     }
    //   }
    // }
    // .section-wines{
    //   .item{
    //     margin-bottom: 60px;
    //     .cont-images{
    //       .bottle{
    //         height: 50vh;
    //       }
    //     }
    //     .cont-data{
    //       text-align: left;
    //       h2{
    //         width: 100%;
    //         text-align: left;
    //         margin-top: 20px;
    //       }
    //       p{
    //         text-align: left;
    //       }
    //     }
    //   }
    // }
  }
}


@include media-breakpoint-down(sm) {

}