#section-services{

  .section-2{
    position: relative;
    padding: 100px 0;
    .btn-back{
      margin-bottom: 20px;
      display: inline-block;
    }
    h1{
      margin-bottom: 40px;
    }
    .description{
      p{
        font:600 18px/28px $font-sans-serif;
        color:$secondary;
      }
    }
    .carousel{
      margin-bottom: 40px;
    }
    .data{
      &:before{
        content:'';
        border-left:solid 1px $primary;
        position: absolute;
        z-index: 0;
        top:0;
        left:-50px;
        height: 100%;
      }
    }
  }
}


@include media-breakpoint-down(md) {
  #section-services{
    .section-1{
      background-size: 250%;
    }

    .section-2{
      padding: 100px 0;
      h1{
        margin-bottom: 10px;
        font-size: 40px;
        line-height: 50px;
      }
      &:before{
        height: 40vh;
      }
    }
  }
}