.section-contact{
  padding: 100px 0;
  h6{
    text-align: center;
    font-size: 40px;
    color:$secondary;
  }
  #slider-instagram{
    width: 100%;
  }
  iframe{
    // margin-bottom: 60px;
  }
  .data-1{
    a{
      @extend p;
    }
    text-align: left;
    p{
      line-height: 40px;
    }
  }
  .data-2{
    a{
      @extend p;
    }
    p{
      margin-bottom: 10px;
    }
  }
  ul{
    li{
      margin-bottom: 10px;
      a{
        @extend p;
        i{
          margin:0 10px 0 0;
        }
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .section-contact{
    padding: 50px 0;
    .data-1{
      text-align: left;
    }
    .data-2{
      padding-top: 20px;
    }
  }
}