/* notifier
https://stackblitz.com/edit/angular-notifier-demo?file=package.json */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.line6{background:#e8e8e8; height:1px;  margin:10px 0 10px 0; padding:0; display:block;}
.line7{background:#0099cc; height:1px;  margin:0px 0 10px 0; padding:0; display:block;}

.fondobody{
    background-color: black;
}
.pointer {cursor: pointer;}

