@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

// @font-face {
//     font-family: 'Titillium Web';
//     src: url('../fonts/titillium_web/TitilliumWeb-Regular') format('ttf');
//     font-weight: 200;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'Titillium Web';
//     src: url('../fonts/titillium_web/Butler-Medium.woff2') format('woff2'),
//         url('../fonts/titillium_web/Butler-Medium.woff') format('woff');
//     font-weight: 500;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'Titillium Web';
//     src: url('../fonts/titillium_web/Butler-Light.woff2') format('woff2'),
//         url('../fonts/titillium_web/Butler-Light.woff') format('woff');
//     font-weight: 300;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'Titillium Web';
//     src: url('../fonts/titillium_web/Butler-Black.woff2') format('woff2'),
//         url('../fonts/titillium_web/Butler-Black.woff') format('woff');
//     font-weight: 900;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'Titillium Web';
//     src: url('../fonts/titillium_web/Butler-Bold.woff2') format('woff2'),
//         url('../fonts/titillium_web/Butler-Bold.woff') format('woff');
//     font-weight: bold;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'Titillium Web';
//     src: url('../fonts/titillium_web/Butler-ExtraBold.woff2') format('woff2'),
//         url('../fonts/titillium_web/Butler-ExtraBold.woff') format('woff');
//     font-weight: 800;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'Titillium Web';
//     src: url('../fonts/titillium_web/Butler.woff2') format('woff2'),
//         url('../fonts/titillium_web/Butler.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
// }