//SIZE
//$height_view: calc(100vh - 57px);
$height_view: 100vh;

//FONTS
$font-sans-serif: 'Titillium Web', sans-serif;
$font-serif: 'Butler', serif;


//COLOR
$primary: #29D3B6;
$primary-dark: #2A4D47;
$primary-light: #FAFFFE;
$primary-medium: #E4F2F0;
// $secondary: #22614E;
// $secondary-lighter: lighten($secondary, 5%);
// $third: #671919;

$black:#221E1F;
$gray: #666666;

$gray-dark: #221E1F;
$gray-light:#828D8D;
$gray-lighter:#D4DBDA;



