.bg{
  &.main-blue{
    background:url('../images/bg-blue-sheets.jpg') no-repeat center bottom;
    background-size: cover;
  }

  &.bg-color-sheets{
    background:url('../images/bg-color-sheets@2x.svg') no-repeat left center;
    background-size: auto 100%;
  }

  &.bg-light-blue{
    background:url('../images/bg-lightblue.jpg') no-repeat center center;
    background-size: cover;
  }
}
