.link{
  color:$secondary;
  font-style: italic;
  font:300 14px $font-sans-serif;
  &:hover{
    color:$primary;
    text-decoration: none;
  }
  img{
    width: 20px;
    margin-right:10px;
  }
}