.mt-10{
  margin-top:10px;
}
.mt-20{
  margin-top:20px;
}
.mt-40{
  margin-top:40px;
}
.mb-10{
  margin-bottom:10px;
}
.mb-20{
  margin-bottom:20px;
}
.mb-40{
  margin-bottom:40px;
}

.h100vh{
	min-height: 100vh
}
.min-h100vh{
	min-height: 100vh
}

.grunge-bottom{
  width: 104%;
  margin-top: -20px;
  margin-left: -2%;
  z-index: 3;
  position: relative;
  img{
    width: 100%;
  }
}

.grunge-top{
  width: 104%;
  margin-left: -2%;
  margin-bottom: -20px;
  z-index: 3;
  position: relative;
  img{
    width: 100%;
  }
}